*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    background-image: url(/images/main_background_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
.nav{
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 3%;
}

.nav img{
    height: 88%;
}
.nav select{ 
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    background: transparent;
} 
.nav button{
    padding:7px 16px;
    font-size: 16px;
    background: rgb(210,47 ,39);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}
